<h1>Contact Us :  Malu</h1>
<div>
  <br />
  <h3> Subject : <%= @contact[:subject] %></h3>
</div>
<div>
  <br />
  <h3> Name : <%= @contact[:name] %></h3>
</div>
<div>
  <br />
  <h3>Email : <%= @contact[:email] %></h3>
</div>
<div>
  <br />
  <h3>Message Detail : <%= @contact[:message] %></h3>
</div>

