<header>
 <!-- header top section starts -->
 <div class="header-top">
   <div class="container">
     <div class="row">
       <!-- top bar menu -->
       <div class="col-sm-8">
         <ul class="top-bar-menu">
            <li>Welcome to <strong>MALU</strong> the leading brand of Crystals!</li>
         </ul>
       </div>
       <!-- language and currency selection section --> 
       <div class="col-sm-4">
         <div class="top-bar-left">
            <ul class="top-bar-menu">
               <li>Call at <strong>0321-454545345</strong> to place your order!</li>
            </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- header top section ends -->

 <!-- header main section starts -->
 <div class="header-main">
   <div class="container">
     <div class="row">

       <div class="col-md-12">
         <!-- logo section starts  -->
         <div class="logo-wrapper">
           <a href="index.php" class="logo">
             <img src="/assets/green/logo.png" alt="logo" />
           </a>
         </div>
         <!-- logo section ends  -->
       </div>

       <div class="col-md-12">
         <!-- header top shopping cart button -->
           <div class="dropdown ht-cart ht-fl">
             <p>Free Home Delivery !</p>
             <a data-toggle="dropdown" href="#" class="button-cart">Cart </a>
             <div class="dropdown-menu content" role="menu">

               <div class="col-md-12">
                 <h4>Steps to place your Order.</h4><hr>
                 <span>  01) Select any Product(s).</span><hr>
                 <span>  02) Note the Product(s) Code.</span><hr>
                 <span>  03) Call at 0321-4545345.</span><hr>
                 <span>  04) Tell the Product(s) Code that you want to Purchase.</span><hr>
                 <span>  05) Clongarulation! Your Order Has been placed.</span><hr>
                 <span> Now, We will send the product(s) to the given address as early as possible.</span>
               </div>
             </div>
           </div>              
       </div>

       <div class="col-md-12">
         <!-- main navigation menu starts -->
         <nav class="clearfix">
           <ul id="nav" class="main-nav">
             <li class="shop-submenu-area selected">
               <a href="index.php">Home Page </a>
             </li>
             <li class="shop-submenu-area">
               <a href="#">Shop </a>
             </li>
             <li class="shop-submenu-area">
               <a href="product-grid.html">View Types </a>
               <ul class="shop-submenu ssm-rr">
                 <li><a href="product-grid.html">Grid View side bar </a></li>
                 <li><a href="product-list.html">List View side bar </a></li>
                 <li><a href="product-grid-full.html">Grid View full width </a></li>
                 <li><a href="product-list-full.html">List View full width </a></li>
               </ul>
             </li>
             <li><a href="single.html">Single Item </a></li>
             <li><a href="checkout.html">Checkout </a></li>
             <li><a href="cart.html">Shopping Cart </a></li>
             <li><a href="contact.html">Contact </a></li>
           </ul>
         </nav>
         <!-- main navigation menu ends -->
       </div>

     </div>
   </div>
 </div>
 <!-- header main section ends -->
</header>