<div class="home-feature block-25">
 <div class="container">
   <!-- features section starts -->
   <div class="row">
     <div class="col-md-3">
       <!-- feature single section -->
       <div class="feature feature-one">
         <i class="fa fa-location-arrow"></i>
         <h1>Free Shipping </h1>
         <p>Free Shipping on every product </p>
       </div>

     </div>
     <div class="col-md-3">
       <!-- feature single section -->
       <div class="feature feature-two">
         <i class="fa fa-gift"></i>
         <h1>Buy 1 Get 1 </h1>
         <p>Apply For Longtime Customers </p>
       </div>
     </div>
     <div class="col-md-3">  
       <!-- feature single section -->
       <div class="feature feature-three">
         <i class="fa fa-money"></i>
         <h1>Money Back ! </h1>
         <p>Money Back Guarantee On Special Product(s) </p>
       </div>
     </div>
     <div class="col-md-3">  
       <!-- feature single section -->
       <div class="feature feature-four">
         <i class="fa fa-trophy"></i>
         <h1>Quality Product </h1>
         <p>Quality Commitment all Products </p>
       </div>
     </div>
   </div>
   <!-- features section ends -->
 </div>
</div>