<div class="main-body-wrapper">
 <div class="main-banner-unit home-two  block-45">
   <div class="container">
     <div class="row">
       <div class="col-md-8">
         <!-- slider section starts -->
         <div class="main-slidess">
           <!-- flexSlider starts -->
           <div id="main-slide-1" class="flexslider flexrec">
             <ul class="slides">
               <li>
                 <img src="/assets/green/slide/slide-1.jpg" alt="" />
               </li>

               <li>
                 <img src="/assets/green/slide/slide-1.jpg" alt="" />
               </li>

               <li>
                 <img src="/assets/green/slide/slide-1.jpg" alt="" />
               </li>

             </ul>
           </div>
           <!-- flexSlider ends -->
         </div>
         <!-- slider section ends -->
       </div>
       <div class="col-md-4">
         <div class="hero-unit">
           <!-- panel one -->
           <div class="col-md-12 ">
             <figure class="panel panel-one">
               <img src="/assets/green/panel-1.jpg" alt="" />
               <figcaption>
                 <a href="#" class="btn-panel">shop now </a>
               </figcaption>
             </figure>
           </div>
           <!-- panel two -->
           <div class="col-md-12">
             <figure class="panel panel-two">
               <img src="/assets/green/panel-2.jpg" alt="" />
               <figcaption>
                 <a href="#" class="btn-panel">shop now </a>
               </figcaption>
             </figure>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>