<div class="container">
 <div class="row block-45">
   <div class="col-md-12">
     <h1 class="home-heading">Other products </h1>
     <div class="product-display featured-product other-product">
       <div class="row">
         <!-- product display tab -->
         <ul class="nav nav-tabs home-tab vertical-tab col-sm-2" id="v-tab">
           <li class="active"><a href="#v-tab1" data-toggle="tab">Bags Leather </a></li>
           <li><a href="#v-tab2" data-toggle="tab">Moccasins </a></li>
           <li><a href="v-tab3" data-toggle="tab">Belts </a></li>
           <li><a href="#v-tab4" data-toggle="tab">Boots </a></li>
           <li><a href="#v-tab5" data-toggle="tab">Accessories </a></li>
         </ul>

         <div class="tab-content col-sm-10">
           <div class="tab-pane active" id="v-tab1">
             <!-- product display carousel -->
             <div class="product-carousel">
               <div class="list_carousel responsive">
                 <ul id="carousel-sp1" class="carousel-product">
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-20.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-30.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-40.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                       <div class="product-badge sale">
                        Sale
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                  
                 </ul>
                 <div class="clearfix"></div>
                 <a id="prev7" class="prev" href="#">
                   <span class="fa  fa-angle-left"></span>
                 </a>
                 <a id="next7" class="next" href="#">
                   <span class="fa  fa-angle-right"></span>
                 </a>
               </div>
             </div>
           </div>

           <div class="tab-pane" id="v-tab2">
             <!-- product display carousel -->
             <div class="product-carousel">
               <div class="list_carousel responsive">
                 <ul id="carousel-sp2" class="carousel-product">
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-20.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-30.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-40.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                  
                 </ul>
                 <div class="clearfix"></div>
                 <a id="prev8" class="prev" href="#">
                   <span class="fa  fa-angle-left"></span>
                 </a>
                 <a id="next8" class="next" href="#">
                   <span class="fa  fa-angle-right"></span>
                 </a>
               </div>
             </div>
           </div>

           <div class="tab-pane" id="v-tab3">
             <!-- product display carousel -->
             <div class="product-carousel">
               <div class="list_carousel responsive">
                 <ul id="carousel-sp3" class="carousel-product">
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-20.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-30.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-40.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                  
                 </ul>
                 <div class="clearfix"></div>
                 <a id="prev9" class="prev" href="#">
                   <span class="fa  fa-angle-left"></span>
                 </a>
                 <a id="next9" class="next" href="#">
                   <span class="fa  fa-angle-right"></span>
                 </a>
               </div>
             </div>
           </div>

           <div class="tab-pane" id="v-tab4">
             <!-- product display carousel -->
             <div class="product-carousel">
               <div class="list_carousel responsive">
                 <ul id="carousel-sp4" class="carousel-product">
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-20.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-30.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-40.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                  
                 </ul>
                 <div class="clearfix"></div>
                 <a id="prev10" class="prev" href="#">
                   <span class="fa  fa-angle-left"></span>
                 </a>
                 <a id="next10" class="next" href="#">
                   <span class="fa  fa-angle-right"></span>
                 </a>
               </div>
             </div>
           </div>
           <div class="tab-pane" id="v-tab5">
             <!-- product display carousel -->
             <div class="product-carousel">
               <div class="list_carousel responsive">
                 <ul id="carousel-sp5" class="carousel-product">
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                       <div class="product-badge sale">
                        Sale
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-20.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-30.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-40.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                   <!-- product item -->
                   <li>
                     <div class="product-item-block">
                       <div class="product-item-visual">
                         <img src="/assets/green/products/item-10.jpg" alt="product" />
                       </div>
                      
                       <div class="product-item-desc">
                         <a href="#"><h1>Inceptos orci hac libero </h1></a>
                         <div class="item-price item-price-sale">
                           <span class="prev-price">$ 300.00 </span>$ 250.00
                         </div>  
                       </div>
                     </div>
                   </li>
                  
                 </ul>
                 <div class="clearfix"></div>
                 <a id="prev11" class="prev" href="#">
                   <span class="fa  fa-angle-left"></span>
                 </a>
                 <a id="next11" class="next" href="#">
                   <span class="fa  fa-angle-right"></span>
                 </a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div> 
 <!-- special product section ends -->
</div>