 <!-- main body section starts -->
  <%= render 'main_slider_section' %>
   <!-- main body block starts -->
   <div class="container main-body-block">
     <!-- home page featured product section starts -->
      <%= render 'latest_products' %> 
     <!-- home page featured product section ends -->
   </div>
 </div>
 <%= render 'home_features_block' %>

<!-- special/other product section starts -->
  <%= render 'other_products' %>
<!-- main body block ends -->

<!-- main body section ends -->