<div class="row">
   <div class="col-md-12">
      <div class="product-display featured-product">
         <!-- related product display tab -->               
         <h1 class="related-product">Related Products </h1>
         <!-- product display carousel -->               
         <div class="product-carousel">
            <div class="list_carousel responsive">
               <ul id="carousel-featured-1" class="carousel-product">
                  <!-- product item -->                     
                  <li>
                     <div class="product-item-block">
                        <div class="product-item-visual">                           <img src="/assets/green/products/item-10.jpg" alt="product" />                         </div>
                        <div class="product-badge sale">                          Sale                         </div>
                        <div class="product-item-desc">
                           <a href="#">
                              <h1>Inceptos orci hac libero </h1>
                           </a>
                           <div class="item-price item-price-sale">                             <span class="prev-price">$ 300.00 </span>$ 250.00                           </div>
                        </div>
                        <div class="price-item-desc-detail">
                           <a class="add-to-cart" href="single.html">                            Add __ Cart                           </a>                           
                           <div class="btn-group">                             <a href="#" class="btn btn-link">+ Add to Wishlist </a>                             <a href="#" class="btn btn-link">+ Compare </a>                           </div>
                        </div>
                     </div>
                  </li>
                  <!-- product item -->                     
                  <li>
                     <div class="product-item-block">
                        <div class="product-item-visual">                           <img src="/assets/green/products/item-10.jpg" alt="product" />                         </div>
                        <div class="product-badge sale">                          Sale                         </div>
                        <div class="product-item-desc">
                           <a href="#">
                              <h1>Inceptos orci hac libero </h1>
                           </a>
                           <div class="item-price item-price-sale">                             <span class="prev-price">$ 300.00 </span>$ 250.00                           </div>
                        </div>
                        <div class="price-item-desc-detail">
                           <a class="add-to-cart" href="single.html">                            Add __ Cart                           </a>                           
                           <div class="btn-group">                             <a href="#" class="btn btn-link">+ Add to Wishlist </a>                             <a href="#" class="btn btn-link">+ Compare </a>                           </div>
                        </div>
                     </div>
                  </li>
                  <!-- product item -->                     
                  <li>
                     <div class="product-item-block">
                        <div class="product-item-visual">                           <img src="/assets/green/products/item-20.jpg" alt="product" />                         </div>
                        <div class="product-item-desc">
                           <a href="#">
                              <h1>Inceptos orci hac libero </h1>
                           </a>
                           <div class="item-price item-price-sale">                             <span class="prev-price">$ 300.00 </span>$ 250.00                           </div>
                        </div>
                        <div class="price-item-desc-detail">
                           <a class="add-to-cart" href="single.html">                            Add __ Cart                           </a>                           
                           <div class="btn-group">                             <a href="#" class="btn btn-link">+ Add to Wishlist </a>                             <a href="#" class="btn btn-link">+ Compare </a>                           </div>
                        </div>
                     </div>
                  </li>
                  <!-- product item -->                     
                  <li>
                     <div class="product-item-block">
                        <div class="product-item-visual">                           <img src="/assets/green/products/item-30.jpg" alt="product" />                         </div>
                        <div class="product-badge new">                          Sale                         </div>
                        <div class="product-item-desc">
                           <a href="#">
                              <h1>Inceptos orci hac libero </h1>
                           </a>
                           <div class="item-price item-price-sale">                             <span class="prev-price">$ 300.00 </span>$ 250.00                           </div>
                        </div>
                        <div class="price-item-desc-detail">
                           <a class="add-to-cart" href="single.html">                            Add __ Cart                           </a>                           
                           <div class="btn-group">                             <a href="#" class="btn btn-link">+ Add to Wishlist </a>                             <a href="#" class="btn btn-link">+ Compare </a>                           </div>
                        </div>
                     </div>
                  </li>
                  <!-- product item -->                     
                  <li>
                     <div class="product-item-block">
                        <div class="product-item-visual">                           <img src="/assets/green/products/item-40.jpg" alt="product" />                         </div>
                        <div class="product-item-desc">
                           <a href="#">
                              <h1>Inceptos orci hac libero </h1>
                           </a>
                           <div class="item-price item-price-sale">                             <span class="prev-price">$ 300.00 </span>$ 250.00                           </div>
                        </div>
                        <div class="price-item-desc-detail">
                           <a class="add-to-cart" href="single.html">                            Add __ Cart                           </a>                           
                           <div class="btn-group">                             <a href="#" class="btn btn-link">+ Add to Wishlist </a>                             <a href="#" class="btn btn-link">+ Compare </a>                           </div>
                        </div>
                     </div>
                  </li>
                  <!-- product item -->                     
                  <li>
                     <div class="product-item-block">
                        <div class="product-item-visual">                           <img src="/assets/green/products/item-10.jpg" alt="product" />                         </div>
                        <div class="product-badge sale">                          Sale                         </div>
                        <div class="product-item-desc">
                           <a href="#">
                              <h1>Inceptos orci hac libero </h1>
                           </a>
                           <div class="item-price item-price-sale">                             <span class="prev-price">$ 300.00 </span>$ 250.00                           </div>
                        </div>
                        <div class="price-item-desc-detail">
                           <a class="add-to-cart" href="single.html">                            Add __ Cart                           </a>                           
                           <div class="btn-group">                             <a href="#" class="btn btn-link">+ Add to Wishlist </a>                             <a href="#" class="btn btn-link">+ Compare </a>                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
               <div class="clearfix"></div>
               <a id="prev4" class="prev" href="#">                     <span class="fa  fa-angle-left"></span>                   </a>                   <a id="next4" class="next" href="#">                     <span class="fa  fa-angle-right"></span>                   </a>                 
            </div>
         </div>
      </div>
   </div>
</div>