<div class="main-body-wrapper">

  <div class="product-display-full-top block-45">
    <div class="container">
      <div class="row">
      <!-- Breadcrumbs section starts -->
        <div class="col-md-12">
            <div class="breadcrumbs-block breadcrumbs-product">
               <!-- breadcrumbs starts -->
              <ol class="breadcrumb">
                <li><a href="#">Home </a></li>
                <li><a href="#">Product </a></li>
                <li class="active">Product Grid Full Width </li>
              </ol>
          </div>
        </div>
      <!-- breadcrumbs ends -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-3">
              <div class="product-display-option">
                <div class="select-wrap-ff">
                  <select class="select select-ff">
                    <option />Categories 
                    <option />Computers 
                    <option />Fashion 
                    <option />-Women's Apparel 
                    <option />-Dresses 
                    <option />-T-Shirts 
                    <option />Electronics 
                    <option />Apparels 
                    <option />Cosmetics 
                    <option />Furniture 
                    <option />Toys & Hobbies 
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="product-display-option">
                <div class="select-wrap-ff">
                  <select class="select select-ff">
                    <option />Color 
                    <option />Red 
                    <option />Purple 
                    <option />Green 
                    <option />Blue 
                    <option />White 
                    <option />Black 
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="product-display-option">
                <div class="select-wrap-ff">
                  <select class="select select-ff">
                    <option />Size 
                    <option />Extra-Large 
                    <option />Large 
                    <option />Medium 
                    <option />Small 
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="product-display-option">
                <div class="select-wrap-ff">
                  <select class="select select-ff">
                    <option />Brands 
                    <option />Guicci 
                    <option />Crocodile 
                    <option />Nike 
                    <option />Addidas 
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-offset-4 col-sm-4 range-slider-ff">
              <div id="slider-range"></div>
              <p>
                <input type="text" id="amount" class="range-slider-value" />
              </p>
            </div>
          </div>

        </div>
      </div>
  
    </div>
  </div>
   

  <!-- main body block starts -->
  <div class="container main-body-block category-product-block block-45">
    <div class="row">
      <!-- Category product view starts -->
      <div class="col-md-12 category-product-display">
        <!-- pagination and shorting row -->
        <div class="row">
          <div class="col-sm-12 pd-paginate">
            <div class="col-sm-3">
              <a href="product-grid.html" class="btn-grid-list active"><span class="fa fa-th"></span></a>
              <a href="product-list.html" class="btn-grid-list"><span class="fa fa-list"></span></a>
            </div>
            <div class="col-sm-4">
              <div class="product-display-no">
                <span class="sel-text">Short By: </span>
                <div class="select-wrap xl">
                  <select class="select select-pn">
                    <option />Default 
                    <option />Lorem 
                    <option />Ipsum 
                    <option />Dolor 
                  </select>
                </div>
              </div>
              <div class="product-display-no">
                <span class="sel-text">Show: </span>
                <div class="select-wrap">
                  <select class="select select-pn">
                    <option />9 
                    <option />8 
                    <option />7 
                    <option />6 
                    <option />5 
                    <option />4 
                    <option />3 
                    <option />2 
                    <option />1 
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <ul class="pagination pagination-top">
                <li><a href="#"><span class="fa fa-chevron-left"></span></a></li>
                <li><a href="#">1 </a></li>
                <li class="active"><a href="#">2 </a></li>
                <li><a href="#">3 </a></li>
                <li><a href="#">4 </a></li>
                <li><a href="#">5 </a></li>
                <li><a href="#"><span class="fa fa-chevron-right"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- product display row -->
        <div class="product-display-grid">
          <!-- row one -->
          <div class="row">
            <!-- product item -->
            <% @products.each do |product| %>
              <div class="col-sm-6 col-md-3">
                <div class="product-box">
                  <div>
                    <div class="product-item-visual">
                      <!-- <img src="/assets/green/products/item-10.jpg" alt="product" /> -->
                      <% if product.default_image %>
                        <%= image_tag product.default_image.path, :width => '259px', :height => '171px' %>
                      <% end %>
                    </div>
                    <div class="product-badge sale">
                     ____
                    </div>
                   
                    <div class="product-item-desc">
                      <h1><%= link_to product.name, product_path(product.permalink) , 'data-no-turbolink' => true%></h1>
                      <div class="item-price item-price-sale">
                       <%= number_to_currency product.price %>
                      </div>  
                    </div>
                    <div class="price-item-desc-detail">                            
                      <a class="add-to-cart" href="single.html">
                       Add to Cart
                      </a>
                      <div class="btn-group">
                        <a href="#" class="btn btn-link">+ Add to Wishlist </a>
                        <a href="#" class="btn btn-link">+ Compare </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
        <!-- pagination row -->
        <div class="row pd-paginate">
          <div class="col-md-5 col-md-offset-7">
            <ul class="pagination pagination-bottom">
              <li><a href="#"><span class="fa fa-chevron-left"></span></a></li>
              <li><a href="#">1 </a></li>
              <li class="active"><a href="#">2 </a></li>
              <li><a href="#">3 </a></li>
              <li><a href="#">4 </a></li>
              <li><a href="#">5 </a></li>
              <li><a href="#"><span class="fa fa-chevron-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Category product view ends -->
    </div>
  </div>
  <!-- main body block ends -->
</div>