<div class="main-body-wrapper">
   <!-- Breadcrumbs section starts -->       
   <div class="container block-45">
      <div class="row">
         <div class="col-md-12">
            <div class="breadcrumbs-block breadcrumbs-product">
               <!-- breadcrumbs starts -->               
               <ol class="breadcrumb">
                  <li><a href="#">Home </a></li>
                  <li><a href="#">Product </a></li>
                  <li class="active">Product List </li>
               </ol>
               <!-- breadcrumbs ends -->             
            </div>
         </div>
      </div>
      <!-- Breadcrumbs section ends -->         <!-- product details starts -->
      
   </div>
</div>